h1{
    color: red;
}
p{
    column-count: 3;
    column-gap: 40px;
    column-rule-style: solid;
    column-rule-width: 2px;
    column-rule-color: red;
}
body{
    background: #ffdcac;
    margin: 20px;
}
h1:hover{
    color:green;
}
p:active{
    background-color: #e0c096;
    color: #e0c096;
}